@mixin center-flex($type: flex, $jc: center) {
  display: $type;
  align-items: center;
  justify-content: $jc;
}

@mixin font($fw, $fs, $lh, $ls: 0.08em) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}
