<section class="advantages__section">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <div class="advantages__frame">
                    <svg class="advantages__icon--student" width="33" height="40">
                        <use href="./images/sprite.svg#student"></use>
                    </svg>
                </div>
                <p class="advantages__description">Адаптированная авторская
                    программа ВНО</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__frame">
                    <svg class="advantages__icon--mobile-learning" width="41" height="40">
                        <use href="./images/sprite.svg#mobile-learning"></use>
                    </svg>
                </div>
                <p class="advantages__description">Современные
                    методики обучения</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__frame">
                <svg class="advantages__icon--insurance" width="35" height="40">
                    <use href="./images/sprite.svg#insurance"></use>
                </svg>
                </div>
                <p class="advantages__description">Финансовая гарантия
                    результата</p>
            </li>
        </ul>

    </div>

</section>

