<div class="messenger__container">
  <div class="messenger">
    <div title="Чат с менеджером" class="messenger-btn">
<svg width="40" height="40" aria-label="Чат с менеджером">
          <use href="/images/sprite.svg#chat-icon" />
        </svg>
    </div>
    <!-- <div id="messenger-links" class="messenger-links"> </div> -->


<ul id="messenger-links" class="messenger-links">
<li class="messenger-links__item list"><a title="Позвонить" href="tel:+380000000000">
        <svg width="40" height="40" class="chat-icons" aria-label="Позвонить">
          <use href="/images/sprite.svg#chat-phone" />
        </svg>
      </a></li>
<li class="messenger-links__item list"><a title="Whatsapp" href="whatsapp://send?phone=+380000000000"></a>
        <svg width="40" height="40" class="chat-icons" aria-label="Whatsapp">
          <use href="/images/sprite.svg#chat-whatsapp" />
        </svg>
            </a></li>
<li class="messenger-links__item list"><a title="Viber" href="viber://chat?number=+380000000000"
        >
         <svg width="40" height="40" class="chat-icons" aria-label="Viber">
          <use href="/images/sprite.svg#chat-viber" />
        </svg>      
           </a></li>
<li class="messenger-links__item list"><a title="Telegram" href="https://t.me/hellen"
        >
        <svg width="40" height="40" class="chat-icons" aria-label="Telegram">
          <use href="/images/sprite.svg#chat-telegram" />
        </svg>      
    </a></li>
<li class="messenger-links__item list"><a title="Вконтакте" href="https://vk.com"
        >
        <svg width="40" height="40" class="chat-icons" aria-label="Вконтакте">
          <use href="/images/sprite.svg#chat-vk" />
        </svg>   
    </a></li>
</ul>  
 
  </div>
</div>
