<section class="features" id="features">
  <div class="container">
    <div class="container-now">
      <div class="container-title">
        <h2 class="features_title">Почему нас выбирают</h2>
      </div>

      <div class="container_full">
        <div class="container-features">
          <ul class="features_list list">
            <li class="features_item">
              <p class="features_border">— 01</p>
              <p class="features_text">Обучение в малых командах</p>
            </li>

            <li class="features_item">
              <p class="features_border">— 02</p>
              <p class="features_text">Визуализированные конспекты</p>
            </li>

            <li class="features_item">
              <p class="features_border">— 03</p>
              <p class="features_text">
                Каждое занятие имеет цель и конкретный результат
              </p>
            </li>

            <li class="features_item">
              <p class="features_border">— 04</p>
              <p class="features_text features_text--rezultat">
                Реальные результаты преподавателя
              </p>
            </li>

            <li class="features_item">
              <p class="features_border">— 05</p>
              <p class="features_text">
                Программа курса соответствует требованиям МОН Украины
              </p>
            </li>

            <li class="features_item">
              <p class="features_border">— 06</p>

              <p class="features_text">Набор команд по <br />уровням знаний</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
