<!-- названия классов называем по типу features__элемент--модификатор -->
<section class="features">

     
     <div class="container">
          <h2 class="features_title">Почему нас выбирают</h2>


      <div class="container-features">
           
        <ul type="01" class="features_list">

         <li class="features_item">
              <p class="features_border">
                   — 01
              </p>
              <p class="features_text">
                   Обучение в малых командах
              </p>
         </li>


         <li class="features_item">
              <p class="features_border">
                   — 02
              </p>
              <p class="features_text">
                   Визуализированные конспекты
              </p>
         </li>
         
         <li class="features_item">
              <p class="features_border">
                   — 03
              </p>
              <p class="features_text">
                   Каждое занятие имеет цель и конкретный результат
              </p>
         </li>    
         
         <li class="features_item">
              <p class="features_border">
                   — 04
              </p>
              <p class="features_text features_text--rezultat">
                   Реальные результаты преподавателя
              </p>
         </li> 

          <div class="container-bcg">
               
          <li class="features_item">
              <p class="features_border">
                   — 05
              </p>
              <p class="features_text">
                   Прогамма курса соответствует требованиям МОН Украины
              </p>
         </li> 
         
         <li class="features_item">

              <p class="features_border">
                   — 06
              </p>

              <p class="features_text">
                  Набор команд по уровням знаний
              </p>
                   
          </li>        
          </div>
                 
    </ul>
    </div>

     </div>
</section>

