<!-- названия классов называем по типу feedback__элемент--модификатор -->
<section class="feedback">
  <div class="container">
    <h2 class="feedback__title">Отзывы выпускников</h2>
    <!-- <div class="slider"> -->
    <div class="feedback__wrapper slider-for">
      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Мария Троекурова</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Анна Каренина</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Татьяна Ларина</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Наташа Ростова</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Настасья Филипповна</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Проня Прокоповна</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Тоня Кучеровская</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>

      <div class="feedback__slik-card--wrapper">
        <div class="feedback__card">
          <div class="feedback__graphic--wrapper">
            <picture class="feedback__pic--wrapper">
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.webp    1x,
                  /images/feedback/tonya/tonya-desktop@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1366px)"
                srcset="
                  /images/feedback/tonya/tonya-desktop.jpg    1x,
                  /images/feedback/tonya/tonya-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.webp    1x,
                  /images/feedback/tonya/tonya-tab@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/feedback/tonya/tonya-tab.jpg    1x,
                  /images/feedback/tonya/tonya-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.webp    1x,
                  /images/feedback/tonya/tonya-mob@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /images/feedback/tonya/tonya-mob.jpg    1x,
                  /images/feedback/tonya/tonya-mob@2x.jpg 2x
                "
              />
              <img src="/images/feedback/tonya/tonya-mob.jpg" alt="Тоня" />
            </picture>
            <a class="feedback__social-link link" href="">
              <svg class="feedback__social-icon">
                <use href="/images/sprite.svg#vk"></use>
              </svg>
            </a>
          </div>

          <div class="feedback__info">
            <p class="feedback__name">Елизавета Болконская</p>
            <p class="feedback__university">
              Выпуск 2015-го года,
              <span lang="uk"
                >Національний університет біоресурсів і природокористування
                України</span
              >
            </p>
            <p class="feedback__text" lang="uk">
              За короткий час занять з Оленою я опанувала граматику і поповнила
              свій зовсім пустий словниковий запас. З першого ж заняття я
              зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали
              друзями, тому що її справді хвилювала моя успішність. Вона стала
              для мене авторитетом, проте я не тремтіла на уроках, маючи страх
              зробити найменшу помилку. Зараз я можу похизуватись тим, що я
              студен ...
              <a href="#" class="feedback__link" lang="ru">Читать дальше</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="feedback__girls slider-nav">
      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl1/girl1.webp    1x,
              /images/feedback/girl1/girl1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl1/girl1.jpg    1x,
              /images/feedback/girl1/girl1@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl1/girl1.jpg" alt="Девушка 1" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl2/girl2.webp    1x,
              /images/feedback/girl2/girl2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl2/girl2.jpg    1x,
              /images/feedback/girl2/girl2@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl2/girl2.jpg" alt="Девушка 2" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl3/girl3.webp    1x,
              /images/feedback/girl3/girl3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl3/girl3.jpg    1x,
              /images/feedback/girl3/girl3@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl3/girl3.jpg" alt="Девушка 3" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl4/girl4.webp    1x,
              /images/feedback/girl4/girl4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl4/girl4.jpg    1x,
              /images/feedback/girl4/girl4@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl4/girl4.jpg" alt="Девушка 4" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl5/girl5.webp    1x,
              /images/feedback/girl5/girl5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl5/girl5.jpg    1x,
              /images/feedback/girl5/girl5@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl5/girl5.jpg" alt="Девушка 5" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl6/girl6.webp    1x,
              /images/feedback/girl6/girl6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl6/girl6.jpg    1x,
              /images/feedback/girl6/girl6@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl6/girl6.jpg" alt="Девушка 6" />
        </picture>
      </div>

      <div class="feedback__girl">
        <picture class="feedback__girl--wrapper">
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl7/girl7.webp    1x,
              /images/feedback/girl7/girl7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/feedback/girl7/girl7.jpg    1x,
              /images/feedback/girl7/girl7@2x.jpg 2x
            "
          />
          <img src="/images/feedback/girl7/girl7.jpg" alt="Девушка 7" />
        </picture>
      </div>
    </div>
    <!-- </div> -->
  </div>
</section>
