<!-- названия классов называем по типу feedback__элемент--модификатор -->
<section class="feedback">
  <div class="container">
    <h2 class="feedback__heading">Отзывы выпускников</h2>
    <div class="list cards-list">
      <!-- girl1 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl1/girl1.webp    1x,
                  /images/feedback/girl1/girl1@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl1/girl1-mob.webp    1x,
                  /images/feedback/girl1/girl1-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl1/girl1.jpg    1x,
                  /images/feedback/girl1/girl1@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl1/girl1-mob.jpg    1x,
                  /images/feedback/girl1/girl1-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl1/girl1-mob.jpg"
                alt="Наталья"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>

        <div class="card__right-side">
          <h3 class="girl__name" lang="en">Natalia Tkachyshyn</h3>
          <p class="girl__study">
            Выпуск 2013-го года, Львовский национальный университет
          </p>
          <p class="girl__feedback" lang="uk">
            Лише з Hellen нарешті подолала рівень Pre-Intermediate. Хтось казав,
            що з великими групами (10 людей) неможливо навчитись правильно
            розмовляти і тд. Але саме група длямене стала найкращою мотивацією,
            бо ми рівнялись на один одного. Соромно було не знати англійську :)
            Викладачі дуже...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl2 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl2/girl2.webp    1x,
                  /images/feedback/girl2/girl2@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl2/girl2-mob.webp    1x,
                  /images/feedback/girl2/girl2-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl2/girl2.jpg    1x,
                  /images/feedback/girl2/girl2@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl2/girl2-mob.jpg    1x,
                  /images/feedback/girl2/girl2-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl2/girl2-mob.jpg"
                alt="Марина"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name">Марина Гац</h3>
          <p class="girl__study">
            Выпуск 2015-го года, Національний університет економіки та права
          </p>
          <p class="girl__feedback" lang="uk">
            Дякую Юлії за детальну консультацiю перед тим, як я обрала школу
            Hellen. А також допомогу в різних ситуаціях під час навчання (підбір
            уроків,графіку ). Класні викладачі Євген та Гіфті - з ними завжди
            цікаво, спокійна атмосфера. А Женя ще й мені допомiг з підготовкою
            до здачі екзаменів)...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl3 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl3/girl3.webp    1x,
                  /images/feedback/girl3/girl3@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl3/girl3-mob.webp    1x,
                  /images/feedback/girl3/girl3-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl3/girl3.jpg    1x,
                  /images/feedback/girl3/girl3@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl3/girl3-mob.jpg    1x,
                  /images/feedback/girl3/girl3-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl3/girl3-mob.jpg"
                alt="Катерина"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name" lang="uk">Катерина Павула</h3>
          <p class="girl__study">Выпуск 2017-го года, 117 лицей</p>
          <p class="girl__feedback" lang="uk">
            Проходила дистанційний інтенсив і залишилась супер задоволеною!!!
            Моя викладачка Оля була на зв‘язку ледь не 24/7, тому, якщо і
            виникали якісь «питання», то вони майже одразу вирішувались. Загалом
            уроки проходили дуже продуктивно. Спершу ми повторювали вже вивчене,
            а потім переходили...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl4 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl4/girl4.webp    1x,
                  /images/feedback/girl4/girl4@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl4/girl4-mob.webp    1x,
                  /images/feedback/girl4/girl4-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl4/girl4.jpg    1x,
                  /images/feedback/girl4/girl4@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl4/girl4-mob.jpg    1x,
                  /images/feedback/girl4/girl4-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl4/girl4-mob.jpg"
                alt="Зоряна"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name" lang="en">Zoriana Khomiak</h3>
          <p class="girl__study">
            Выпуск 2016-го года, Университет воздушных сил им. И. Кожедуба
          </p>
          <p class="girl__feedback" lang="uk">
            Завдяки цій школі я вже подолала Intermediate рівень. Це найкраща
            школа англійської в Україні: дуже хороші викладачі, мають хороший
            підхід до учнів, цікаві та розважальні уроки. Дуже зручно, що у них
            є онлайн-підручник, з яким дуже легко працювати. Після кожного
            заняття я заряджена хорошим настроєм...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl5 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl5/girl5.webp    1x,
                  /images/feedback/girl5/girl5@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl5/girl5-mob.webp    1x,
                  /images/feedback/girl5/girl5-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl5/girl5.jpg    1x,
                  /images/feedback/girl5/girl5@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl5/girl5-mob.jpg    1x,
                  /images/feedback/girl5/girl5-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl5/girl5-mob.jpg"
                alt="Мария"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name" lang="uk">Марія Дейнега</h3>
          <p class="girl__study">
            Выпуск 2016-го года, Киевский медицинский университет
          </p>
          <p class="girl__feedback" lang="uk">
            Я почала з рівня А2 курс «стандартний». На даний момент я закінчую
            B2 і маю намір продовжувати. Особисто мені підходить як програма,
            так і підхід до навчання. Хочу наголосити, що результат залежить, в
            першу чергу, від наполегливості і сумлінності студента, але школа
            допомагає полегшити...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl6 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl6/girl6.webp    1x,
                  /images/feedback/girl6/girl6@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl6/girl6-mob.webp    1x,
                  /images/feedback/girl6/girl6-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl6/girl6.jpg    1x,
                  /images/feedback/girl6/girl6@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl6/girl6-mob.jpg    1x,
                  /images/feedback/girl6/girl6-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl6/girl6-mob.jpg"
                alt="Тоня"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name">Тоня Кучеровская</h3>
          <p class="girl__study">
            Выпуск 2015-го года, Національний університет біоресурсів і
            природокористування України
          </p>
          <p class="girl__feedback" lang="uk">
            За короткий час занять з Оленою я опанувала граматику і поповнила
            свій зовсім пустий словниковий запас. З першого ж заняття я
            зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями,
            тому що її справді хвилювала моя успішність. Вона стала для мене
            авторитетом, проте я не тремтіла на уроках, маючи страх зробити
            найменшу помилку. Зараз я можу похизуватись тим, що я студен ...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
      <!-- girl7 -->
      <div class="feedback__list-item">
        <div class="card__left-side">
          <div class="feedback__pic">
            <picture>
              <source
                srcset="
                  /images/feedback/girl7/girl7.webp    1x,
                  /images/feedback/girl7/girl7@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl7/girl7-mob.webp    1x,
                  /images/feedback/girl7/girl7-mob@2x.webp 2x
                "
                type="image/webp"
                media="(min-width=320px)"
              />
              <source
                srcset="
                  /images/feedback/girl7/girl7.jpg    1x,
                  /images/feedback/girl7/girl7@2x.jpg 2x
                "
                media="(min-width=768px)"
              />
              <source
                srcset="
                  /images/feedback/girl7/girl7-mob.jpg    1x,
                  /images/feedback/girl7/girl7-mob@2x.jpg 2x
                "
                media="(min-width=320px)"
              />
              <img
                class="girl__photo"
                src="/images/feedback/girl7/girl7-mob.jpg"
                alt="Оксана"
              />
            </picture>
          </div>
          <a class="girl__social-link" href="">
            <svg class="girl__icon" width="30" height="17">
              <use class="girl__icon-item" href="/images/sprite.svg#vk"></use>
            </svg>
          </a>
        </div>
        <div class="card__right-side">
          <h3 class="girl__name">Оксана Трумко</h3>
          <p class="girl__study">
            Выпуск 2017-го года, Университет международных отношений
          </p>
          <p class="girl__feedback" lang="uk">
            Процесом навчання і підходами та методами викладача я задоволена)
            Так як я погоджуюсь, що в ігровій формі краще запам'ятовується
            інформація)...
            <a class="girl__feedback-link" href="">Читать дальше</a>
          </p>
        </div>
      </div>
    </div>

    <div class="bottom-nav">
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl1/girl1.webp    1x,
            ../src/images/feedback/girl1/girl1@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl1/girl1.jpg    1x,
            ../src/images/feedback/girl1/girl1@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl1/girl1.jpg"
          alt="Тоня"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl2/girl2.webp    1x,
            ../src/images/feedback/girl2/girl2@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl2/girl2.jpg    1x,
            ../src/images/feedback/girl2/girl2@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl2/girl2.jpg"
          alt="Марина"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl3/girl3.webp    1x,
            ../src/images/feedback/girl3/girl3@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl3/girl3.jpg    1x,
            ../src/images/feedback/girl3/girl3@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl3/girl3.jpg"
          alt="Катерина"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl4/girl4.webp    1x,
            ../src/images/feedback/girl4/girl4@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl4/girl4.jpg    1x,
            ../src/images/feedback/girl4/girl4@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl4/girl4.jpg"
          alt="Zoriana"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl5/girl5.webp    1x,
            ../src/images/feedback/girl5/girl5@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl5/girl5.jpg    1x,
            ../src/images/feedback/girl5/girl5@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl5/girl5.jpg"
          alt="Марія"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl6/girl6.webp    1x,
            ../src/images/feedback/girl6/girl6@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl6/girl6.jpg    1x,
            ../src/images/feedback/girl6/girl6@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl6/girl6.jpg"
          alt="Natalia"
          width="54px"
          height="54px"
        />
      </picture>
      <picture>
        <source
          srcset="
            ../src/images/feedback/girl7/girl7.webp    1x,
            ../src/images/feedback/girl7/girl7@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ../src/images/feedback/girl7/girl7.jpg    1x,
            ../src/images/feedback/girl7/girl7@2x.jpg 2x
          "
        />
        <img
          class="girl__photo-nav photo-nav"
          src="../src/images/feedback/girl7/girl7.jpg"
          alt="Оксана"
          width="54px"
          height="54px"
        />
      </picture>
    </div>
  </div>
</section>
