<!-- названия классов называем по типу footer__элемент--модификатор -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top">
      <a class="logo list link" lang="en" href="./index.html"
        >Hell<svg class="logo__icon">
          <use href="./images/sprite.svg#campfire"></use></svg
        >EN<span class="logo-english"
          ><span class="logo-english-accent">Адский</span> английский</span
        >
      </a>
      <ul class="footer-top__contact">
        <li class="footer-top__contact-list">
          <a href="tel:+380000000000" class="footer-top__contact-list-link">
            <svg class="footer-top__icon-phone" width="20" height="20">
              <use href="./images/sprite.svg#phone"></use>
            </svg>
            +38 (000) 000 00 00</a
          >
        </li>
        <li class="footer-top__contact-list">
          <a href="" class="footer-top__contact-list-link">
            <svg class="footer-top__icon-instagram" width="40" height="40">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom__text">@ Все права защищены, 2019</p>
    </div>
  </div>
</footer>
