<!-- названия классов называем по типу guarantee__элемент--модификатор -->
<section class="guarantee__container" id="guarantee">
  <div class="container guarantee__heading-container">
    <h1 class="guarantee__main-heading">Мы гарантируем</h1>
  </div>

  <div class="guarantee__list-container">
    <ul class="list guarantee__list">
      <li class="guarantee__list-item">
        <div class="svg-wrapper">
          <svg class="guarantee__icon">
            <use
              class="guarantee__icon-fire"
              href="../src/images/sprite.svg#campfire"
            />
          </svg>
        </div>
        <p class="guarantee__list-description">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги.<span class="span--orange-text"
            >*</span
          >
        </p>
      </li>
      <li class="guarantee__list-item">
        <div class="svg-wrapper">
          <svg class="guarantee__icon">
            <use
              class="guarantee__icon-fire"
              href="../src/images/sprite.svg#campfire"
            />
          </svg>
        </div>
        <p class="guarantee__list-description">
          Ты научишься писать сочинения минимум на 10 баллов из 14.
          <span class="span--orange-text"
            >В то время как 20% учеников получили за сочинение 0.</span
          >
        </p>
      </li>
      <li class="guarantee__list-item">
        <div class="svg-wrapper">
          <svg class="guarantee__icon">
            <use
              class="guarantee__icon-fire"
              href="../src/images/sprite.svg#campfire"
            />
          </svg>
        </div>
        <p class="guarantee__list-description">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </p>
      </li>
      <li class="guarantee__list-item">
        <div class="svg-wrapper">
          <svg class="guarantee__icon">
            <use
              class="guarantee__icon-fire"
              href="../src/images/sprite.svg#campfire"
            />
          </svg>
        </div>
        <p class="guarantee__list-description">
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </p>
      </li>
    </ul>
  </div>
</section>
