<header id="header">
  <div class="container">
    <div class="page-header">
      <div class="header__mobile">
        <a class="logo list link" data-logo lang="en" href="./index.html"
          >Hell
          <svg class="logo__icon">
            <use href="./images/sprite.svg#campfire"></use>
          </svg>
          EN<span class="logo-english"
            ><span class="logo-english-accent">Адский</span> английский</span
          >
        </a>
        <button type="button" class="contact__btn--light-theme tablet">
          Консультация по телефону
        </button>
        <button
          type="button"
          class="header__menu-button"
          aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
        >
          <svg
            class="header__menu-button--icon"
            aria-label="Переключатель мобильного меню"
          >
            <use
              class="header__menu-button--icon-menu"
              width="20"
              height="20"
              href="./images/sprite.svg#menu"
            ></use>
            <use
              class="header__menu-button--icon-cross"
              width="20"
              height="20"
              href="./images/sprite.svg#cross"
            ></use>
          </svg>
        </button>
      </div>
      <div class="menu-container" id="menu-container" data-menu>
        <nav class="header__site-nav">
          <ul class="header__site-nav-list list">
            <li class="header__site-nav--item">
              <a class="header__site-nav--link link" href="#program"
                >Программа обучения</a
              >
            </li>
            <li class="header__site-nav--item">
              <a class="header__site-nav--link current link" href="#advantages"
                >О нас</a
              >
            </li>
            <li class="header__site-nav--item">
              <a class="header__site-nav--link link" href="#scope"
                >Варианты обучения</a
              >
            </li>
            <li class="header__site-nav--item">
              <a class="header__site-nav--link link" href="#footer">Контакты</a>
            </li>
          </ul>
        </nav>
        <button type="button" class="contact__btn--light-theme mobile">
          Консультация по телефону
        </button>
      </div>
    </div>
  </div>
</header>
