<!-- названия классов называем по типу hero__элемент--модификатор -->
<section class="hero__section" id="hero">
    <div class="container hero">
        <div class="hero__side">
            <div class="hero__right-side">
                <h1 class="hero__title">Комплексная подготовка к ВНО<br>по английскому языку</h1>
                <p class="hero__text"><span class="hero__text pale">Просто не будет.<br>
                </span>Но ты гарантировано наберешь<span class="hero__text accent"> +25 баллов</span></p>
                </p>
                <a class="contact__btn--dark-theme list link" href="#registration">хочу на бесплатное занятие</a>
            </div>
            <div class="hero__left-side">
                <picture class="hero__left--foto">
                    <source media="(min-width: 1366px)" srcset="
                        /images/hero/hero-desktop.webp    1x,
                        /images/hero/hero-desktop@2x.webp 2x
                      " type="image/webp" />
                    <source media="(min-width: 1366px)" srcset="
                        /images/hero/hero-desktop.png    1x,
                        /images/hero/hero-desktop@2x.png 2x
                      " />
                    <source media="(min-width: 768px)" srcset="
                        /images/hero/hero-tab.webp    1x,
                        /images/hero/hero-tab@2x.webp 2x
                      " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
                        /images/hero/hero-tab.png    1x,
                        /images/hero/hero-tab@2x.png 2x
                      " />
                    <source media="(min-width: 320px)" srcset="
                        /images/hero/hero-mob.webp    1x,
                        /images/hero/hero-mob@2x.webp 2x
                      " type="image/webp" />
                    <source media="(min-width: 320px)" srcset="
                        /images/hero/hero-mob.png    1x,
                        /images/hero/hero-mob@2x.png 2x
                      " />
                    <img src="/images/hero/hero-mob.png" alt="учитель на уроке" />
                </picture>
            </div>
        </div>
    </div>
</section>