<!-- названия классов называем по типу hero__элемент--модификатор -->
<section class="hero__section">
    <div class="container">
        <div class="hero__right-side">
            <h1 class="hero__title">Комплексная подготовка к ВНО<br>по английскому языку</h1>
            <p class="hero__text"><span class="hero__text pale">Просто не будет.<br></span>Но ты гарантировано наберешь<span class="hero__text accent"> +25 баллов</span></p></p>
            <button type="button" class="contact__btn--dark-theme">хочу на бесплатное занятие</button>
        </div>
        <div class="hero__left-side">
            <svg class="hero__vector">
                <use href="./images/hero/shadow/hero_shadow.svg"></use>
            </svg>
        </div>
    </div>
</section>