<!-- названия классов называем по типу problems__элемент--модификатор -->

   
  <section class="problems" >

    <div class="container">

        <h2 class="problems__title">Главные проблемы учеников <br> 
          на English ВНО, <br> которые <br>
          мы <span class="span--orang-text"> помогаем  </span> решить</h2>
    
          
          <ul class="problems_list  list">
              <li class="problems_list__item ">
                <p class="problems_list__title   problems_exeption">01</p>
                <p class="problems_list__text">Название грамматики</p>
              </li>
              <li class="problems_list__item ">
                <p class="problems_list__title ">02</p>
                <p class="problems_list__text">Неумение воспринимать <br>
                  устную английскую речь</p>
              </li>
              <li class="problems_list__item ">
                <p class="problems_list__title ">03</p>
                <p class="problems_list__text">Скупой словарный запас
                  для написани сочинения</p>
              </li>
              <li class="problems_list__item ">
                <p class="problems_list__title ">04</p>
                <p class="problems_list__text">Поодготовка в <br> одиночку</p>
              </li>
              <li class="problems_list__item ">
                <p class="problems_list__title ">05</p>
                <p class="problems_list__text">Отсутствие единого <br> ресурса знаний</p>
              </li>
              <li class="problems_list__item ">
                <p class="problems_list__title ">06</p>
                <p class="problems_list__text">Недостаточной самоорганизации и лень</p>
              </li>
            </ul>
  

    </div>

</section>


