<!-- названия классов называем по типу program__элемент--модификатор -->

<!-- <section class="program" id="program">
  <div class="container">
    <h2 class="program_title">Наша программа</h2>

    <div class="container_all">
      <div class="container_border">
        <span class="border"></span>
      </div>

      <div class="container-list">
        <ul class="program_list list program_list--justify-content">
          <li class="program_item program_item--margin-right">
            <p class="program_title_semester">1 семестр</p>
            <p class="program_title_study">— Grammar</p>
            <p class="program_text">Nouns & Articles</p>
            <p class="program_text">Adjectives & Adverb</p>
          </li>

          <li class="program_item">
            <p class="program_title_study program_title_study--desktop-margin">
              — Vocabulary
            </p>
            <p class="program_text">Family & Relations</p>
            <p class="program_text">People & Society</p>
          </li>
        </ul>

        <ul class="program_list list program_list--justify-content">
          <li class="program_item program_item--margin-right">
            <p class="program_title_semester">2 семестр</p>
            <p class="program_title_study">— Grammar</p>
            <p class="program_text">Pronouns</p>
            <p class="program_text">Active Voice</p>
            <p class="program_text">Passive Voice</p>
          </li>

          <li class="program_item">
            <p class="program_title_study program_title_study--desktop-margin">
              — Vocabulary
            </p>
            <p class="program_text">Home</p>
            <p class="program_text">School</p>
            <p class="program_text">Work</p>
          </li>
        </ul>

        <ul class="program_list list">
          <li class="program_item program_item--margin-right">
            <p class="program_title_semester">3 семестр</p>
            <p class="program_title_study">— Grammar</p>
            <p class="program_text">Modal verbs</p>
            <p class="program_text">Infinitive</p>
            <p class="program_text">Gerund</p>
            <p class="program_text">Participle: 1, 2</p>
          </li>

          <li class="program_item program_item--width">
            <div class="container_study">
              <div class="container_study_main">
                <p class="program_title_study">— Vocabulary</p>
                <p class="program_text">Travel & Tourism</p>
                <p class="program_text">Culture & Free Time</p>
                <p class="program_text program_text--margin">Sport</p>
              </div>

              <div class="container_study_secondary">
                <p class="program_title_study">— Writing</p>
                <p class="program_text">Informal Letter</p>
              </div>
            </div>
          </li>
        </ul>

        <ul class="program_list list">
          <li class="program_item program_item--margin-right">
            <p class="program_title_semester">4 семестр</p>
            <p class="program_title_study">— Grammar</p>
            <p class="program_text">Clauses: Conditional and Wishes</p>
            <p class="program_text">Direct / Reported speech</p>
            <p class="program_text">Preposition</p>
            <p class="program_text">Conjunction</p>
            <p class="program_text">Numeral</p>
          </li>

          <li class="program_item program_item--width">
            <div class="container_study">
              <div class="container_study_main">
                <p class="program_title_study">— Vocabulary</p>
                <p class="program_text">Healthy Living</p>
                <p class="program_text program_text--width">
                  Nature & Environment
                </p>
                <p class="program_text program_text--margin">Money</p>
              </div>

              <div class="container_study_secondary">
                <p class="program_title_study">— Writing</p>
                <p class="program_text">Formal Letter</p>
              </div>
            </div>
          </li>
        </ul>

        <ul class="program_list list">
          <li class="program_item program_item--indent">
            <p class="program_title_semester program_title_semester--margin">
              5 семестр
            </p>
            <p class="program_title_study">—</p>
            <p class="program_text program_text--margin-bootom">
              Revision Tests
            </p>
          </li>
        </ul>
      </div>

      <div class="container-image"></div>
    </div>
  </div>
</section> -->
