<!-- названия классов называем по типу program__элемент--модификатор -->


<section class="program">

    <div class="container"> 

         <h2 class="program_title">Наша программа</h2>

        <div class="container_all">

        <div class="container_border">
            <span class="border"></span>
        </div>

        <ul class="program_list">

            <li class="program_item">

                 <h3 class="program_title_semester">1 семестр</h3>

                 <ul class="program_list_study">
        
                     <h4 class="program_title_study">— Grammar</h4>

                     <li class="program_item_study ">
                         <p class="program_text_study">Nouns & Articles</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Adjectives & Adverb</p>
                     </li>
                 </ul>
                 
                <ul class="program_list_study">

                    <h4 class="program_title_study">— Vocabulary</h4>
                    
                     <li class="program_item_study">
                         <p class="program_text_study">Family & Relations</p>
                     </li>

                     <li class="program_item_study">
                         <p class="program_text_study margin">People & Society </p>
                     </li>
                </ul>
     
                <!-- !------------------------------------------------------------! -->
                 
                <li class="program_item">

                 <h3 class="program_title_semester">2 семестр</h3>

                 <ul class="program_list_study">

                     <h4 class="program_title_study">— Grammar</h4>

                     <li class="program_item_study">
                         <p class="program_text_study">Pronouns</p>
                     </li>
                     <li class="program_item_study">
                         <p class="program_text_study">Active Voice</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Passive Voice</p>
                     </li>
                 </ul>
                 
                <ul class="program_list_study">

                    <h4 class="program_title_study">— Vocabulary</h4>
                    
                    <li class="program_item_study">
                         <p class="program_text_study">Home</p>
                     </li>

                     <li class="program_item_study">
                         <p class="program_text_study">School</p>
                     </li>

                    <li class="program_item_study">
                         <p class="program_text_study margin">Work</p>
                     </li>
                </ul>

             <!-- ! -----------------------------------------------------------! -->

                <li class="program_item">

                 <h3 class="program_title_semester">3 семестр</h3>

                 <ul class="program_list_study">

                     <h4 class="program_title_study">— Grammar</h4>

                      <li class="program_item_study">
                         <p class="program_text_study">Modal verbs</p>
                     </li>

                     <li class="program_item_study">
                         <p class="program_text_study">Infinitive</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Gerund</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Participle: 1, 2 </p>
                     </li>                     
                 </ul>
                 
                <ul class="program_list_study">

                    <h4 class="program_title_study">— Vocabulary</h4>
                    
                    <li class="program_item_study">
                         <p class="program_text_study">Travel & Tourism</p>
                     </li>

                     <li class="program_item_study">
                         <p class="program_text_study">Culture & Free Time</p>
                     </li>

                    <li class="program_item_study">
                         <p class="program_text_study">Sport </p>
                     </li>
                </ul>

                <ul class="program_list_study">

                    <h4 class="program_title_study">— Writing</h4>
                    
                    <li class="program_item_study">
                         <p class="program_text_study margin">Informal Letter</p>
                     </li>

                </ul>

           <!-- !=====================================================! -->

                <li class="program_item">

                 <h3 class="program_title_semester">4 семестр</h3>

                 <ul class="program_list_study">

                     <h4 class="program_title_study">— Grammar</h4>

                     <li class="program_item_study">
                         <p class="program_text_study">Clauses: Conditional and Wishes</p>
                     </li>
                     <li class="program_item_study">
                         <p class="program_text_study">Direct / Reported speech</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Preposition</p>
                     </li>

                     <li class="program_item_study" >
                         <p class="program_text_study">Conjunction</p>
                     </li>
                     
                     <li class="program_item_study" >
                         <p class="program_text_study">Numeral</p>
                     </li>                         
                 </ul>
                 
                <ul class="program_list_study">

                    <h4 class="program_title_study">— Vocabulary</h4>
                    
                    <li class="program_item_study">
                         <p class="program_text_study">Healthy Living</p>
                     </li>

                     <li class="program_item_study">
                         <p class="program_text_study">Nature & Environment</p>
                     </li>

                    <li class="program_item_study">
                         <p class="program_text_study">Money</p>
                     </li>
                </ul>

                <ul class="program_list_study">

                    <h4 class="program_title_study">— Writing</h4>
                    
                    <li class="program_item_study">
                         <p class="program_text_study margin">Formal Letter</p>
                     </li>

                </ul>

                <!-- !=================================================! -->

                <li class="program_item">
                    <h3 class="program_title_semester margin-bottom">5 семестр</h3>
                    <p class="program_border margin-bottom">—</p>
                    <p class="program_text_study big-margin">Revision <br>Tests</p>
                </li>

        </ul>

           
           <div class="container-image"></div>

        </div>

    </div>
</section>
