// задать стили кнопкам с классами contact__btn--light-theme и contact__btn--dark-theme
.contact__btn--light-theme {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: var(--accent-color);
    background-color: transparent;
    min-width: 259px;
    padding: 14px 10px;
    margin: 0 auto;
    border: 2px solid #FF6B09;
}
.contact__btn--dark-theme {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background-color: var(--accent-color);
    min-width: 259px;
    padding: 14px 10px;
    margin: 0 auto;
    border: 2px solid #FF6B09;
}
