.feedback {
  padding-bottom: 50px;
  padding-top: 50px;
}
.feedback__heading {
  margin-bottom: 20px;
  text-align: center;

  @include font(800, 20px, 1.3, 0.03);
}
.feedback__list-item {
  display: block;
  width: 280px;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}
.feedback__pic {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 27px;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1366px) {
    margin-bottom: 27px;
  }
}

.card__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}
.girl__photo {
  margin: 0 auto;
  margin-bottom: 27px;
  width: 90px;
  height: 90px;
}
.girl__icon {
  width: 30px;
  height: 17px;
}
.girl__icon-item {
  width: 30px;
  height: 17px;
  fill: #436eab;
  display: block;
  align-items: flex-start;
}

.girl__social-link {
  display: flex;
  padding: 0;
  width: 30px;
  height: 17px;
}
.girl__name {
  margin-bottom: 10px;

  @include font(800, 14px, 1.21, 0.08);
  color: var(--accent-color);
}

.girl__study {
  margin-bottom: 10px;
  @include font(500, 12px, 1.67, 0.08);
  color: var(--secondary-color);
}
.girl__feedback {
  @include font(500, 12px, 1.67, 0.03);
  color: var(--teacher-color);
}
.girl__feedback-link {
  color: var(--accent-color);
}

.cards-list {
  width: 280px;
  margin: 0 auto;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list .slick-track {
  width: 182px;
  margin: 0 auto;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;

  height: 100%; //
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: 54px;
  border: 1px solid transparent;
}
// .slick-arrow.slick-hidden {
//     display: none;
// }
.slick-prev::before {
  //поставила левую стрелку место?
  content: '';
  position: absolute;
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;

  left: -60%;
  top: -10%;
}
.slick-next::before {
  //поставила правую стрелку место?
  content: '';
  position: absolute;
  background-image: url(../images/arrow-right.svg);
  background-repeat: no-repeat;
  contain: contain;
  width: 30px;
  height: 15px;

  left: -4%;
  top: -10%;
}
.girl__photo-nav {
  width: 54px;
  height: 54px;
  margin-right: 5px;
  margin-left: 3px;
}

//мои настройки
.bottom-nav {
  margin: 0 auto;
  width: 182px;
  height: 54px;
}
.bottom-nav-container {
  margin: 0 auto;
  justify-content: center;
}
.feedback__list-item {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .feedback {
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .feedback__list-item.slick-slide {
    display: flex;
  }
  .feedback__heading {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .bottom-nav {
    margin-left: 120px; ///????
    width: 558px;
    height: 60px;
  }
  .photo-nav {
    margin-right: 5px;
    margin-left: 5px;
    height: 60px;
  }

  .cards-list {
    width: 688px;
  }
  .feedback__list-item {
    display: flex;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .card__left-side {
    margin-right: 46px;
    margin-bottom: 0;
    min-width: 243px;
  }

  .girl__photo {
    width: 150px;
    height: 150px;
  }
  .girl__name {
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
  }
  .girl__study {
    margin-bottom: 20px;
    text-align: left;
  }
  .girl__feedback {
    text-align: left;
  }
  .slick-prev::before {
    //поставила левую стрелку место?
    left: 0;
  }
  .slick-next::before {
    //поставила правую стрелку место?
    left: -30px;
  }
}

@media screen and (min-width: 1366px) {
  .feedback {
    padding-bottom: 130px;
    padding-top: 130px;
  }
  .feedback__heading {
    margin-bottom: 50px;
    font-size: 46px;
  }
  .cards-list {
    width: 1090px;
  }
  .feedback__list-item {
    padding-top: 50px;
    padding-right: 112x;
    padding-bottom: 50px;
    padding-left: 82px;
  }
  .girl__name {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .girl__study {
    font-size: 14px;
  }
  .girl__feedback {
    font-size: 18px;
    line-height: 1.56;
  }
  .bottom-nav {
    ///????
    margin-left: 430px;
  }
  .slick-next::before {
    //поставила правую стрелку место?
    left: 30px;
  }
}
