.footer {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 52px;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1366px) {
    margin-left: 157px;
    padding-bottom: 52px;
    margin-right: 0;
    justify-content: start;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__contact-list-item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-right: 24px;
      &::after {
        content: '';
        height: 40px;
        border: 1px solid #b9b9b9;
        margin-left: 24px;
      }
    }

    @media screen and (min-width: 1366px) {
      &::after {
        margin-left: 16px;
      }
    }
  }

  &__contact-list-link {
    display: flex;
    align-items: center;
    @include font(600, 14px, 1.214);
    color: var(--main-color);

    @media screen and (min-width: 768px) {
      @include font(600, 20px, 1.2);
    }

    @media screen and (min-width: 1366px) {
      @include font(600, 30px, 1.233);
    }
  }

  &__icon-phone {
    width: 20px;
    height: 20px;
    fill: var(--accent-color);
    margin-right: 10px;

    @media screen and (min-width: 768px) {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: 1366px) {
      width: 30px;
      height: 30px;
      margin-right: 15px;
    }
  }
}

.logo__wrapper {
  @media screen and (max-width: 767px) {
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1366px) {
    margin-right: 281px;
  }

  .logo,
  .logo-english {
    position: static;
  }
}

.footer-bottom {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: var(--main-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: start;
    padding-left: 40px;
  }

  @media screen and (min-width: 1366px) {
    padding-left: 157px;
  }

  &__text {
    @include font(500, 14px, 2);
    color: var(--secondary-color);
  }
}
