.program{
    background-color: var(--main-color);
}

.program_title{
    
font-family: var(--main-font);
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
padding-top: 50px;
padding-bottom: 43px;
}

// .program_svg{
//     fill: var(--accent-color);
// }

// .program_list{
//     padding-left: 88px;
//     padding-top: 8px;
// }