.program{
    background-color: var(--main-color);
}

.container_all{
    height: 1272px;
}

.program_title{
    
font-weight: 800;
font-size: 20px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
padding-top: 50px;
padding-bottom: 43px;

@media screen and (min-width:768px) {
    display: flex;
    justify-content: flex-start;
    font-size: 26px;
    line-height: 1.3;
}
}


.program_title_semester {

font-weight: 700;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #FFFFFF;
}

.program_title_study {
font-weight: 700;
font-size: 12px;
line-height: 1.66;
letter-spacing: 0.08em;
color:var(--accent-color);
margin-bottom: 5px;
}

.program_text{
font-weight: 500;
font-size: 12px;
line-height: 1.66;
letter-spacing: 0.08em;
color: var(--secondary-color);
opacity: 0.5;
}


.program_item{
    margin-bottom: 8px;

    // &:not(:last-child) {
    //     margin-bottom: 8px;
    // }
    @media screen and (min-width:786px) {
        margin-right: 88px;
    }
}

.program_item--indent{
    margin-bottom: 0px;
}

.program_text--margin {
    margin-bottom: 8px;
}


.container_border {
    width: 12px;
    height: 1292px;
    margin-left: 74px;
    padding-top: 5px;
    padding-bottom: 5px;
    // display: flex;
    // justify-content: center;

    @media screen and (min-width:768px) {
        margin-left: 63px;
    }
}

.border {
    display: block;
    height: 1103px;
    border-left: 1px solid #FFFFFF;
}

.container_all {
    display: flex;
}

// ul{
//     list-style-type: none
// }

.program_list {
    display: flex;
    // height: 289px;
    flex-wrap:wrap;
    margin-left: 20px;
    // margin-bottom: 32px;

    &:not(:last-child) {
        margin-bottom: 32px;
    }
    
    @media screen and (min-width:786px) {
        display: flex;
        align-items: flex-end;
    }
}


.program_title_semester{
    position: relative;
    display: inline-block;
    margin-bottom: 5px;

    &:before{

        position: absolute;
        display: inline-block;
        content: '';
        top: 5px;
        left: -30px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-color: var(--accent-color);

        @media screen and (min-width:768px) {
            left: -37px;
        }
    }

}

.program_border  {
    color: var(--accent-color);
}

.program {
    position: relative;
    display: block;
}

.container-image{
position: absolute;
// top:0px;
bottom: -50px;
right: 0px;
background-image: url('/images/registration/mob.jpg');
background-repeat: no-repeat;
background-size: contain;
min-width: 120px;
height: 137px;
}

.program_text--margin-bootom{
    margin-top: 20px;
    margin-bottom: 55px;
    max-width: 67px;
}

.program_title_semester--margin{
    margin-bottom: 25px;
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
   screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px) ,
   screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
        
    .container-image {

    background-image: url(../images/registration/mob2x.jpg);
   }
   }

  