
.problems .container{
min-width: 320px;
height: 545px;
background-image: url('/images/problems/fon-mob.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.problems{
margin-bottom: 198px;
}

.problems__title{
    @include font(800, 20px, 1.35, $ls: 0.03em);
    padding-left: 20px;
    padding-top: 50px;
    margin-bottom: 27px;
    color:var(--white-color);
}

.span--orang-text{
    color: var(--accent-color);
    }

    .problems_list{
    width: 280px;
    min-height: 488px; 
    margin: auto;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    background:var(--white-color); 
    } 

 .problems_list__title{
    @include font(700, 20px, 1.2, $ls: 0.08em);
    padding-left: 61px;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    color: var(--accent-color);
    }
    
    .problems_list__title::after{
        position: absolute;
        display: inline-block;
        content: '';
        bottom: 17px;
        left: 30px;
        width: 20px;
        height: 2px;
        background: var(--accent-color);
        } 

    .problems_exeption{
    padding-top: 20px;
    }

    .problems_list__text{
    @include font(700, 14px, 1.428, $ls: 0.08em);
    padding-left: 30px;
    display: block;
    color: var(--main-color);
    }
    