.registration {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-color);
  // background-image: url('/src/images/registration/registration-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    // background-image: url("/src/images/registration/registration-mobile@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    // background-image: url('/src/images/registration/registration-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      // background-image: url("/src/images/registration/registration-tablet@2x.jpg");
    }
  }

  @media screen and (min-width: 1366px) {
    // background-image: url('/src/images/registration/registration-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      // background-image: url("/src/images/registration/registration-desktop@2x.jpg");
    }
  }

  &__title {
    margin-bottom: 30px;
    @include font(800, 14px, 1.357, $ls: 0.03em);
    text-align: center;
    color: #ffffff;
  }
  &__text {
    margin-bottom: 30px;
    @include font(600, 12px, 1.25);
    text-align: center;
    color: #ffffff;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__field:first-child {
    margin-bottom: 20px;
  }

  &__field:last-child {
    margin-bottom: 50px;
  }

  &__input {
    min-width: 259px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 28px;
    background-color: var(--main-color);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;

    &::placeholder {
      @include font(600, 14px, 1.214);
      color: #ffffff;
    }
  }

  .contact__btn--dark-theme {
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;

    color: #ffffff;
    background-color: var(--accent-color);
    min-width: 259px;
    padding: 14px 10px;
    margin: 0 auto;
    border: 2px solid #ff6b09;
  }
  // @media screen and (min-width: 1366px) {
  //       .contact__btn--dark-theme {
  //     // min-width: 354px;
  //     font-size: 14px;
  //     line-height: 1.21;
  //   }
  // }
}
