

.scope .container{
min-width: 320px;
}
    
.scope__title{
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 1.3;
text-align: center;
letter-spacing: 0.03em;
color: #111518;
margin-bottom: 30px;
}

.scope-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}

.scope-list__item{
    width: 280px;
    margin: auto;
    min-height: 280px;
    background: #FFFFFF;
box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
}

.scope-list__item:not(:last-child){
    margin-bottom: 15px;
}

.scope-link{
    text-decoration: none;  
    display: block;
    height: 280px;
}

.scope-link:hover ,
.scope-link:focus {
    background-color: #FF6B09;
}

.scope-list__icon{
    fill:  #FF6B09;
}

.scope-link:hover .scope-list__icon,
.scope-link:focus .scope-list__icon{
    fill:#FFFFFF;
}

.scope-link:hover .scope_list__title__position::after ,
.scope-link:focus .scope_list__title__position::after {
    background-color:#FFFFFF ;
}

.scope-link:hover .scope_list__title,
.scope-link:focus .scope_list__title{
    color: #FFFFFF;
}

.scope-link:hover .scope_list__description,
.scope-link:focus .scope_list__description{
    color: #FFFFFF;
}

.scope-list__box{
    display: flex;
    justify-content:center ;
    align-items: center;

    padding-top: 30px;
    margin-bottom: 20px;
}

.scope_list__title{  
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.428;
text-align: center;
letter-spacing: 0.08em;
color: #111518;
margin-bottom: 42px;

}

.scope_list__title__position{
    position: relative;
} 

.scope_list__title__position::after{
    position: absolute;
    display: inline-block;
    content: '';
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2px;
    background:  #FF6B09;
    } 


.scope_list__description{
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.666;
display: block;
text-align: center;
letter-spacing: 0.08em;  
color: #B9B9B9;    
}